params {
    lsf_opts = ""
    runtime_opts = ""
    singularity_cache_dir = "$HOME/.singularity_cache"
    work_dir = "$PWD/work/dask"
}

manifest {
    defaultBranch = "main"
    name = 'nextflow-dask'
    author = 'Cristian Goina'
    homePage = 'https://github.com/JaneliaSciComp/nextflow-dask'
    description = 'Workflow for starting a dask cluster'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version = '0.1.0'
}

profiles {

    standard {
        docker {
            enabled = false
        }

        singularity {
            enabled = true
        }
    }

    lsf {
        params {
            scheduler_mem_gb_per_core = 15
            worker_mem_gb_per_core = 15
            worker_threads = 2
            worker_queue = ''
            worker_lsf_opts = ''
        }

        process {
            executor = 'lsf'

            clusterOptions = params.lsf_opts

            withLabel: 'workerClusterOptions' {
                queue = params.worker_queue ? params.worker_queue : ''
                clusterOptions = "${params.lsf_opts} ${params.worker_lsf_opts}"
            }
        }

        docker {
            enabled = false
        }

        singularity {
            enabled = true
        }

    }
}

docker {
    temp = "auto"
    // newer versions no longer bind current path so I am binding it explicitly
    runOptions = "-v $PWD:$PWD ${params.runtime_opts}"
}

singularity {
    autoMounts = true
    cacheDir = "${params.singularity_cache_dir}"
    // newer versions no longer bind current path so I am binding it explicitly
    runOptions = "--nv -B $PWD ${params.runtime_opts}"
}
